<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "E:\WebTest\src\main\resources\testng-1.0.dtd">
<suite name="Suite">
	<parameter name="driver" value="ChromeDriver" /> <!--测试浏览器：支持火狐，谷歌，IE-->
	<parameter name="nodeURL" value="" /> <!--selenium grid分布式运行node节点url，如不用分布式运行，则留空-->
	<parameter name="BaseUrl" value="https://cdp.dmp-sit.supaur.tech" />  <!-- 测试系统基础Url-->
	<parameter name="UserName" value="" /> <!-- 系统登录用户名-->
	<parameter name="PassWord" value="" />  <!-- 系统登录密码-->
    <test name="Cdp登录测试">
        <classes>
            <class name="CdpLoginTest">
                <methods>
                    <include name="login"></include>
                </methods>
            </class>
        </classes>
    </test>


</suite> <!-- Suite -->